<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <form action="/post" method="POST">
    <input type="text" name="username" id="userName">
    <input type="text" name="Email" id="email">
    <input type="submit" name="submit" id="submit">
    
    </form>
</body>
</html>